<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		description="Student Contacts by OrigContactType PowerQueries"
		name="Student Contacts by OrigContactType PQs"
		version="20200409.01"
		xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
		
	<publisher name="George Skuse">
		<contact email="george.skuse@watertown.k12.ma.us"/>
	</publisher>
	
</plugin>